.header {
  background-color: #ff8801;
  background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
  display: flex;
  padding-top: 2em;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-avatar {
  /* width: fit-content; */
  /* display: flex; */

}

.header-avatar img {
  width: 100%;
}

.header-name {
  color: #FFFFFF;
  font-size: 2em;
}
