.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: none;
  /* background-color: #4056a1; */
  color: #ffffff;
  padding: 0 1em;
  position: fixed; 
  top: 0; 
  width: 100%;
  z-index: 9001;
}

.navbar-brand {
  font-family: Bungee;
}

.navbar-new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navbar-new-tweet i {
  transform: translateY(-1em);
  color: red;
}

