.new-tweet {
  width: 100%;
  padding-top: 2em;
}
.new-tweet-error {
  display: none;
  margin: 1em;
  padding: 1em;
  color: red;
  border: red dashed;
  align-self: center;

}
.tweet-form-footer {  
  display: flex;
  justify-content: space-between;
}

.tweet-form-button {
  background: #4056a1;
  background-image: linear-gradient(top, #4056a1, #2980b9);
  background-image: linear-gradient(to top, #4056a1, #2980b9);
  font-family: Bungee;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
}

.tweet-form-button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(top, #3cb0fd, #4056a1);
  background-image: linear-gradient(to top, #3cb0fd, #4056a1);
}

#tweet-form-text {
  background-color: transparent;
  border-bottom: 0.1em black solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  outline: none;
  margin-bottom: 0.5em;
}

.tweet-form-counter {
  font-family: Bungee;
}
