#tweets-container {
  margin-top: 1em;
}

.tweet {
  border: 0.1em solid black;
  margin: 1em 0;
  padding: 1em;
}

.tweet:hover {
  box-shadow: 2px 2px 2px black;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
}

.tweet-header-user {
  display: flex;
  align-items: center;
}

.tweet-header-user-avatar{
  width: fit-content;
  max-width: 300px;
}

.tweet-header-user-avatar img {
  width: 100%;
}

.tweet-header-user p {
  padding-left: 0.5em;
  font-family: Bungee;
}

.tweet-header-handle {
  color: #297fb977;
  font-weight: bold;
}

.tweet-content {
  font-size: 1.25em;
  font-weight: 600;
  word-wrap: break-word;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1em solid black;
}

.tweet-footer i {
  color: #2980b9;
}

.tweet-footer i:hover {
  color: yellow;
}
